
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-light"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Link</a>
        </li>
        <li class="nav-item text-light dropdown">
          <a class=" text-light nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    
    </div>
  </div>
</nav>

<div class="row text-center m-5">
  <div class="col-md-6 bg-info">
    <app-test1></app-test1>
  </div>
  <div class="col-md-6 bg-primary">
    <app-test2></app-test2>
  </div>
  <div class="col-md-6 bg-secondary">
    <app-test3></app-test3>
  </div>
  <div class="col-md-6 bg-success">
    <app-test4></app-test4>
  </div>
</div>

<app-test5></app-test5>

<!-- <button (click)="onclick();">name</button>

{{data1}} -->




























<router-outlet></router-outlet>
